/* Stili per schermi 576px (Mobile) */
@media screen and (min-width: 576px) {

    /* Allinea il logo a sinistra nell'intestazione */
    header {
        text-align: left;
    }

    /* Aumenta il padding del contenuto principale */
    main {
        padding: px;
        width: 30%
    }

    /* Aumenta la dimensione del titolo della ricetta */
    .recipe-title {
        font-size: 1.8rem;
    }

    .video-container {
        width: 10%;

    }

    /* Mostra il sottotitolo della ricetta */
    .recipe-tagline {
        display: block;
    }

    .recipe-title: {
        font-size: 1.5rem;
        position: relative;
        left: 14px;
        top: 0;
    }

    /* Aumenta la dimensione e lo spazio tra i pulsanti social */
    .social-buttons {
        gap: 15px;
    }

    .social-button {
        padding: 12px 24px;
        font-size: 1.1rem;
    }
}