html {
    overflow-x: hidden;

}

/* Stile generale del body */
body {
    font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

}

/* Stile dell'intestazione */
header {
    text-align: center;
    font-family: 'Nerko One', cursive;
    text-align: start;
    color: rgb(240, 184, 29);
}

/* Stile principale del contenuto */
main {
    background-color: #e9e2e281;
}

/* Stile del titolo della ricetta */
.recipe-title {
    font-size: 1.5rem;
    position: relative;
    left: 240px;
}



.list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.star {
    position: absolute;
    top: 195px;
    left: 940px;
}

.rate {
    border-radius: 26px;
    border: none;
    background-color: orange;
    color: white;
    margin: 9px 4px;
}

/* Stile del sottotitolo della ricetta */
.recipe-tagline {
    position: relative;
    top: 0;
    left: 231px;
}


.fa-clock,
.fa-blender,
.fa-chart-pie,
.fa-euro-sign,
.fa-thumbtack {
    color: orange
}


/* Contenitore del video */
.video-container {
    text-align: center;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    position: relative;
    top: 0;
    left: 247px;
}

.recipe-info {
    background-color: white;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.recipe-info .rating {
    text-align: right;
    font-size: 1.2em;
    color: #ff9800;
}

.recipe-info ul {
    list-style: none;
    padding: 0;
}

.recipe-info ul li {
    margin: 10px 0;
    font-size: 1em;
}

.button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    color: orange;
    ;
}

.kcal {
    background-color: rgb(33, 78, 214);
    border: none;
    color: white;
    outline: none;

}

.info {
    background-color: #e9e2e281;
}

.social-buttons {
    text-align: center;
    margin: 20px 0;
}

.social-buttons button {
    background-color: #ffffff;
    color: black;
    border: none;
    border-radius: 26px;
    padding: 10px 29px;
    margin: 4px;
    cursor: pointer;
    font-size: 1em;
}

.social-buttons button:hover {
    background-color: #5e35b1;
}


/* Banner pubblicitario */
.ad-banner {
    text-align: center;
    margin: 20px 0;
}

.banner {
    width: 62%;
}

/* Stile della descrizione della ricetta */
.recipe-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.description-image {
    max-width: 50%;
    margin: 0px 0;
}

.description {
    line-height: 2.5;
    width: 66%;
}

/* Stile del piè di pagina */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: violet;
}


.footer-info {
    margin-bottom: 10px;
    text-align: center;
}


.footer-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.footer-nav a {
    text-decoration: none;
    color: #333;
}